.movie-detail-page {
    background: linear-gradient(90deg, 
        var(--toast-default), 
        var(--toast-success), 
        var(--toast-error), 
        var(--toast-info), 
        var(--toast-warning), 
        var(--toast-black), 
        var(--toast-white)
    );
    background-size: 200%;
    animation: gradient-move 6s infinite linear;
    color: #fff; /* Nếu muốn văn bản nổi bật trên nền */
}

/* Hiệu ứng chuyển động của gradient */
@keyframes gradient-move {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 100%;
    }
}
